<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">

<h1>ユーザーの詳細</h1>

<table class="table">
  <tr><th>名前</th><td th:text="${adminUser.name}"></td></tr>
  <tr><th>ユーザー名</th><td th:text="${adminUser.username}"></td></tr>
  <tr><th>状態</th><td th:text="${adminUser.enabled ? '有効' : '無効'}">有効</td></tr>
  <tr><th>ロール</th><td th:text="${adminUser.role.roleName}">システム管理者</td></tr>
</table>

<a th:href="@{/adminUser/}" class="btn btn-secondary">一覧へ戻る</a>
</div>
</body>
</html>
