<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{::content})}">
<body>
<div th:fragment="content">
<h1>edit room</h1>

<form th:action="@{/room/{id}(id=${room.id})}" th:object="${room}" method="post">
	<input type="hidden" name="_method" value="PATCH">
	<label for="name">Name</label>
	<input type="text" th:field="*{name}" th:errorclass="field-error" />
	<ul>
		<li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
	</ul>
	<br>
	<input type="submit" />
</form>

<a th:href="@{/room/}">Back</a>
</div>
</body>
</html>
