<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
<h1>場所の追加</h1>

<form th:action="@{/room/}" th:object="${room}" method="post">

  <div class="mb-3">
	<label for="name" class="form-label">名前</label>
	<input type="text" th:field="*{name}" th:errorclass="field-error" class="form-control">
	<ul>
		<li th:each="err : ${#fields.errors('name')}" th:text="${err}" >
	</ul>
  </div>
  <div class="mb-3">
	<button type="submit" class="btn btn-primary">追加</button>
  </div>
</form>

<a th:href="@{/room/}" class="btn btn-secondary">キャンセル</a>
</div>
</body>
</html>
