<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="../../static/css/application.css" th:href="@{/css/application.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
<h1>予約完了</h1>

<form th:action="@{/menu/}" th:object="${reservation}" method="get">

  <div class="mb-3">
    <label for="room" class="form-label">予約番号</label>
    <input type="text" id="reservationNumber" th:value="${reservation.reservationNumber}" class="form-control-plaintext" readonly>
  </div>
  
  <div class="mb-3">
    <label for="room" class="form-label">場所</label>
    <input type="text" id="room" th:value="${reservation.cell.room.name}" class="form-control-plaintext" readonly>
  </div>
 
   <div class="mb-3">
    <label for="dateTime" class="form-label">日時</label>
    <input type="text" id="dateTime" th:value="${#temporals.format(reservation.cell.beginTime, 'uuuu/MM/dd HH:mm') + ' - ' + #temporals.format(reservation.cell.endTime, 'HH:mm')}" class="form-control-plaintext" readonly>
  </div>
 
  <div class="mb-3">
	<button type="submit" class="btn btn-primary">メニューに戻る</button>
  </div>
</form>

</div>
</body>
</html>
