<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{:://head/script}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="../../static/css/application.css" th:href="@{/css/application.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
<h1>予約</h1>

  <div class="alert alert-danger alert-dismissible" role="alert" th:if="${!#strings.isEmpty(errorMessage)}">
    <p th:text="${errorMessage}">エラーが発生しました。</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<form th:action="@{/reservation/confirm}" th:object="${reservation}" method="post">

  <div class="mb-3">
    <label for="coupon" class="form-label">クーポン</label>
    <input type="text" th:field="*{coupon}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('coupon')}" th:text="${err}">
	</ul>
  </div>
  <div id="timeTable">
    <div class="mb-3">
	  <label for="roomId" class="form-label">場所</label>
	  <select id="roomId" name="roomId" v-model="selectedRoomId" class="form-select">
	    <option value="">選択してください</option>
	    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}">Room1</option>
	  </select>
	</div>
    <div class="mb-3">
    <template v-for="cell in cells">
	  <label class="form-label">{{ cell.date }}</label><br>
	  <div class="form-check">
	  <template v-for="c in cell.cells">
	    <template v-if="c.reservationCount < c.capacity">
          <input type="radio" name="cellId" v-bind:id="c.id" v-bind:value="c.id" class="form-check-input">
          <label v-bind:for="c.id" class="form-check-label">{{ c.beginTime}} - {{ c.endTime }}</label><span class="mx-1">{{ c.reservationCount/c.capacity >= 0.9 ? '残り少し' : ''}}</span>
        </template>
        <template v-else>
          <input type="radio" name="cellId" v-bind:id="c.id" v-bind:value="c.id" class="form-check-input" disabled>
          <label v-bind:for="c.id" class="form-check-label">{{ c.beginTime}} - {{ c.endTime }}</label><a class="mx-1" v-bind:href="c.waitingListUrl">満員(キャンセル待ち)</a>
        </template>
        <br>
	  </template>
	  </div>
	</template>
    </div>
  </div>
  <div class="mb-3">
	<button type="submit" class="btn btn-primary">予約する</button>
  </div>
</form>

<a th:href="@{/}" class="btn btn-secondary">キャンセル</a>

<script type="text/javascript" th:inline="javascript">
(function(){
	function bindRoomAction() {
		var app = new Vue({
		      el: '#timeTable',
		      data: {
		    	  allCells: /*[[${cells}]]*/[],
		    	  selectedRoomId: ''
			  },
			  computed: {
				  cells: function() {
					var selectCells = this.allCells.filter(cell => cell.roomId === this.selectedRoomId)
					    .reduce((acc, cur)=>{
					    	var key = cur.beginTime.split(' ')[0];
					    	if (acc[key]) {
					    		acc[key].push(cur);
					    	} else {
                    		   acc[key] = [cur];
                    		}
					    	return acc;
                       }, {});
					var date = Object.keys(selectCells).sort();
					var list = [];
					for (var i = 0; i < date.length; i++) {
						var dateCell = {date: date[i], cells: []};
						var times = selectCells[date[i]].sort((a,b) => a.beginTime - b.beginTime );
						for (var j = 0; j < times.length; j++) {
							t = {...times[j]}
							t.beginTime = times[j].beginTime.split(' ')[1];
							t.endTime = times[j].endTime.split(' ')[1];
							
							const basePath = /*[[@{/waitingList/new}]]*/'/waitingList/new';
							t.waitingListUrl = basePath + "?" + new URLSearchParams( { cellId: t.id } ).toString();

							dateCell.cells.push(t);
						}
						list.push(dateCell);
					}
					return list;
				  }
			  }
		})
	}
	
	window.addEventListener("DOMContentLoaded", bindRoomAction);
})();
</script>
</div>
</body>
</html>
