<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
<h1>ワクチン在庫の編集</h1>

<form th:action="@{/vaccineStock/{id}(id=${vaccineStock.id})}" th:object="${vaccineStock}" method="post">
	<input type="hidden" name="_method" value="PATCH">

  <div class="mb-3">
	<label for="expectedDeliveryDate" class="form-label">配送予定日</label>
	<input type="text" th:field="*{expectedDeliveryDate}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('expectedDeliveryDate')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="quantity" class="form-label">数量</label>
	<input type="number" min="1" th:field="*{quantity}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('quantity')}" th:text="${err}" >
	</ul>
  </div>
  <div class="mb-3">
	<label for="roomId" class="form-label">場所</label>
	<select th:field="*{roomId}" th:errorclass="is-invalid" class="form-select">
		<option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}">Room1</option>
	</select>
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('roomId')}" th:text="${err}" />
	</ul>
  </div>
  <div class="mb-3">
	<button type="submit" class="btn btn-primary">更新</button>
  </div>
</form>

<a th:href="@{/vaccineStock/}" class="btn btn-secondary">キャンセル</a>
</div>
</body>
</html>
