<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="../../static/css/application.css" th:href="@{/css/application.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
  <h1>メニュー</h1>

  <div class="alert alert-success alert-dismissible" role="alert" th:if="${!#strings.isEmpty(successMessage)}">
    [[${successMessage}]]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="row">
  	
    <div class="col-md-6">
      <div class="card my-1">
        <div class="card-body">
          <h5 class="card-title">予防接種の予約</h5>
          <th:block th:if="${reservation == null}">
            <p class="card-text">予約がありません。</p>
            <a href="#" th:href="@{/reservation/new}" class="btn btn-primary">予約する</a>
          </th:block>
          <th:block th:if="${reservation != null}">
            <p class="card-text">
              予約番号: [[${reservation.reservationNumber}]] <br>
              場所: [[${reservation.cell.room.name}]] <br>
              時間: [[${#temporals.format(reservation.cell.beginTime, 'uuuu/MM/dd HH:mm')} + ' - ' + ${#temporals.format(reservation.cell.endTime, 'HH:mm')}]]
            </p>
            <a href="#" th:href="@{/reservation/}" data-method="delete" class="btn btn-primary">キャンセルする</a>
          </th:block>
        </div>
      </div>
    </div>
    
  	
    <div class="col-md-6">
      <div class="card my-1">
        <div class="card-body">
          <h5 class="card-title">予防接種の履歴</h5>
          <th:block th:if="${#lists.isEmpty(vaccinationHistories)}">
            <p class="card-text">履歴がありません。</p>
          </th:block>
          <th:block th:if="${!#lists.isEmpty(vaccinationHistories)}">
            <p class="card-text">
              <ul>
                <li th:each="history,stat : ${vaccinationHistories}">[[${stat.count + '回目 ' + #temporals.format(history.vaccinatedAt, 'uuuu/MM/dd')}]]</li>
              </ul>
            </p>
          </th:block>
        </div>
      </div>
    </div>
    </th:block>
    <div class="col-md-6">
      <div class="card my-1">
        <div class="card-body">
          <h5 class="card-title">連絡先の登録</h5>
          <p class="card-text">連絡先を登録しておくと、キャンセル待ちの通知を受け取れます。</p>
          <a href="#" th:href="@{/contact/edit}" class="btn btn-primary">連絡を登録する</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
