<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
	<h1>住民</h1>
	
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="#" th:href="@{/publicUser/upload}" class="btn btn-primary">CSVから取り込み</a>
      <a href="#" th:href="@{/publicUser/new}" class="btn btn-primary">追加</a>
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ログインID</th>
				<th>クーポン</th>
				<th>氏名</th>
				<th>ふりがな</th>
				<th>誕生日</th>
				<th>住所</th>
				<th>電話</th>
				<th>メール</th>
				<th>SMS</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="publicUser : ${publicUsers}">
				<td th:text="${publicUser.loginName}">
					1234567890
				</td>
				<td th:text="${publicUser.coupon}">
					12345678
				</td>
				<td th:text="${publicUser.name}">
					氏名
				</td>
				<td th:text="${publicUser.hurigana}">
					ふりがな
				</td>
				<td th:text="${publicUser.birthday}">
					2021-01-01
				</td>
				<td th:text="${publicUser.address}">
					○県▲市□ 1-2-3
				</td>
				<td th:text="${publicUser.telephoneNumber}">
					0312345678
				</td>
				<td th:text="${publicUser.email}">
					email@example.com
				</td>
				<td th:text="${publicUser.sms}">
					8112345678901
				</td>
				<td>
					<a href="#" th:href="@{/publicUser/{id}(id=${publicUser.id})}">詳細</a>
				</td>
				<td>
					<a href="#" th:href="@{/publicUser/{id}/edit(id=${publicUser.id})}">編集</a>
				</td>
				<td>
					<a href="#" th:href="@{/publicUser/{id}(id=${publicUser.id})}" data-method="delete">削除</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
