<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
<h1>住民の追加</h1>

<form th:action="@{/publicUser/}" th:object="${publicUser}" method="post">

  <div class="mb-3">
	<label for="loginName" class="form-label">ログインID</label>
	<input type="text" th:field="*{loginName}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('loginName')}" th:text="${err}" >
	</ul>
  </div>
  <div class="mb-3">
	<label for="plainPassword" class="form-label">パスワード</label>
	<input type="password" th:field="*{plainPassword}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('plainPassword')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="plainPasswordConfirmation" class="form-label">パスワード(確認)</label>
	<input type="password" th:field="*{plainPasswordConfirmation}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('plainPasswordConfirmation')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="name" class="form-label">氏名</label>
	<input type="text" th:field="*{name}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('name')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="hurigana" class="form-label">ふりがな</label>
	<input type="text" th:field="*{hurigana}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('hurigana')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="birthday" class="form-label">誕生日</label>
	<input type="text" th:field="*{birthday}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('birthday')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="address" class="form-label">住所</label>
	<input type="text" th:field="*{address}" th:errorclass="is-invalid"class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('address')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="telephoneNumber" class="form-label">電話</label>
	<input type="text" th:field="*{telephoneNumber}" th:errorclass="is-invalid"class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('telephoneNumber')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="email" class="form-label">メール</label>
	<input type="text" th:field="*{email}" th:errorclass="is-invalid"class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('email')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<label for="sms" class="form-label">SMS</label>
	<input type="text" th:field="*{sms}" th:errorclass="is-invalid" class="form-control">
	<ul class="list-unstyled invalid-feedback">
		<li th:each="err : ${#fields.errors('sms')}" th:text="${err}">
	</ul>
  </div>
  <div class="mb-3">
	<button type="submit" class="btn btn-primary">追加</button>
  </div>
</form>

<a th:href="@{/publicUser/}" class="btn btn-secondary">キャンセル</a>
</div>
</body>
</html>
