<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">

<h1>住民の詳細</h1>

<table class="table">
  <tr><th>ログイン名</th><td th:text="${publicUser.loginName}">xxxx</td></tr>
  <tr><th>氏名</th><td th:text="${publicUser.name}">xxxx</td></tr>
  <tr><th>ふりがな</th><td th:text="${publicUser.hurigana}">xxxx</td></tr>
  <tr><th>誕生日</th><td th:text="${publicUser.birthday}">xxxx</td></tr>
  <tr><th>住所</th><td th:text="${publicUser.address}">xxxx</td></tr>
  <tr><th>電話</th><td th:text="${publicUser.telephoneNumber}">xxxx</td></tr>
  <tr><th>メール</th><td th:text="${publicUser.email}">xxxx</td></tr>
  <tr><th>SMS</th><td th:text="${publicUser.sms}">xxxx</td></tr>
  <tr><th>クーポン</th>
    <td>
    <th:block th:each="c,stat : ${publicUser.coupons}">
      [[${c.coupon} + '(' + ${c.name} + ')']]<th:block th:if="${stat.size > 1}">, </th:block>
    </th:block>
    </td>
  </tr>
</table>

<a th:href="@{/publicUser/}" class="btn btn-secondary">一覧へ戻る</a>
</div>
</body>
</html>
