<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{::content})}">
<body>
<div th:fragment="content">
<h1>edit cell</h1>

<form th:action="@{/cell/{id}(id=${cell.id})}" th:object="${cell}" method="post">
	<input type="hidden" name="_method" value="PATCH">

	<label for="roomId">Room Id</label>
	<input type="text" th:field="*{roomId}" th:errorclass="field-error" />
	<ul>
		<li th:each="err : ${#fields.errors('roomId')}" th:text="${err}" />
	</ul>
	<br>
	
	<label for="beginTime">Begin Time</label>
	<input type="text" th:field="*{beginTime}" th:errorclass="field-error" />
	<ul>
		<li th:each="err : ${#fields.errors('beginTime')}" th:text="${err}" />
	</ul>
	<br>
	
	<label for="endTime">End Time</label>
	<input type="text" th:field="*{endTime}" th:errorclass="field-error" />
	<ul>
		<li th:each="err : ${#fields.errors('endTime')}" th:text="${err}" />
	</ul>
	<br>
	
	<label for="capacity">Capacity</label>
	<input type="text" th:field="*{capacity}" th:errorclass="field-error" />
	<ul>
		<li th:each="err : ${#fields.errors('capacity')}" th:text="${err}" />
	</ul>
	<br>

	<input type="submit" />
</form>

<a th:href="@{/cell/}">Back</a>
</div>
</body>
</html>
