<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">

<h1>時間枠の詳細</h1>

<table class="table">
  <tr><th>場所</th><td th:text="${cell.room.name}"></td></tr>
  <tr><th>開始日時</th><td th:text="${#temporals.format(cell.beginTime, 'uuuu/MM/dd HH:mm')}"></td></tr>
  <tr><th>終了日時</th><td th:text="${#temporals.format(cell.endTime, 'uuuu/MM/dd HH:mm')}"></td></tr>
  <tr><th>予約数</th><td th:text="${#numbers.formatInteger(cell.reservationCount,1,'COMMA')}"></td></tr>
  <tr><th>受付数</th><td th:text="${#numbers.formatInteger(cell.acceptedCount,1,'COMMA')}"></td></tr>
  <tr><th>人数</th><td th:text="${#numbers.formatInteger(cell.capacity,1,'COMMA')}"></td></tr>
</table>
<p th:text="${#temporals.format(now, 'uuuu/MM/dd HH:mm:ss') + '更新'}">2021/03/16 01:00:00更新</p>

<a th:href="@{/cell/}" class="btn btn-secondary">一覧へ戻る</a>
</div>
</body>
</html>
