<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="../../static/css/application.css" th:href="@{/css/application.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
  <h1 class="text-center">COVID-19 ワクチン接種予約管理</h1>
	
  <form th:action="@{/signIn}" method="post">
    <div class="mb-3 width500 mx-auto">
      <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
        ログインIDまたはパスワードが正しくありません。
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div th:if="${param.logout}" class="alert alert-success alert-dismissible" role="alert">
        サインアウトしました。
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div class="mb-3 width500 mx-auto">
      <label for="username" class="form-label">ログインID</label>
      <input id="username" type="text" name="username" class="form-control">
    </div>
    <div class="mb-3 width500 mx-auto">
      <label for="password" class="form-label">パスワード</label>
      <input id="password" type="password" name="password" class="form-control">
    </div>
    <div class="mb-3 width500 mx-auto">
      <button type="submit" class="btn btn-primary ">サインイン</button>
    </div>
  </form>

</div>
</body>
</html>
