<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{}, ~{}, ~{:://head/script}, ~{::content})}">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="../../static/css/application.css" th:href="@{/css/application.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
<div th:fragment="content" class="container-md">
<h1>キャンセル待ち</h1>

  <div class="alert alert-danger alert-dismissible" role="alert" th:if="${!#strings.isEmpty(errorMessage)}">
    <p th:text="${errorMessage}">エラーが発生しました。</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<th:block th:if="${#strings.isEmpty(errorMessage)}">
<form th:action="@{/waitingList/}" method="post">

  <div class="mb-3">
    <label for="email" class="form-label">通知先</label>
    <input type="text" id="email" class="form-control" th:value="${publicUser.email}" readonly>
  </div>
  <div class="mb-3">
    <label for="roomName" class="form-label">場所</label>
    <input type="text" id="roomName" class="form-control" th:value="${cell.room.name}" readonly>
  </div>
  <div class="mb-3">
    <label for="dateTime" class="form-label">日時</label>
    <input type="text" id="dateTime" class="form-control" th:value="${#temporals.format(cell.beginTime, 'uuuu/MM/dd HH:mm')} + ' - ' + ${#temporals.format(cell.endTime, 'HH:mm')}" readonly>
  </div>
  <input type="hidden" name="cellId" th:value="${cell.id}">
  <div class="mb-3">
	<button type="submit" class="btn btn-primary">キャンセル待ちに登録する</button>
  </div>
</form>
</th:block>

<a th:href="@{/}" class="btn btn-secondary">キャンセル</a>

</div>
</body>
</html>
